@font-face {
    font-family: 'Neucha';
    src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}

header {
    display: flex;
    align-items: center;
    background: #2E8B57;
    height: 80px;

    padding-left: 40px;
    margin-bottom: 50px;
}

header h1 {
    margin: 0;
    font-family: 'Neucha';
    color: #ffffff;
    margin-right: 40px;
}

nav {
    margin-right: 600px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #ffffff;
}

nav ul li a {
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.header-tools {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-tools__cart-icon {
    width: 15%;
    height: 15%;
}

header form input {
    font-family: 'Roboto';
    outline: none;
    height: 30px;
    padding-left: 10px;
}