@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}

.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 260px;
    height: 240px;
    padding: 10px;
    font-family: 'Roboto';

    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(38, 38, 38);
}

.product-card button {
    position: absolute;
    left: 5px;
    top: 5px;

    padding: 3px;
    border: none;
    border-radius: 5px;
    background: #2E8B57;
    color: #fff;
}

.product-card button:hover {
    background: #1b5132;
}
